name: pill_reminder
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.5 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  #Utility
  easy_localization: ^3.0.2
  google_fonts: any
  auto_route: ^7.7.1
  intl: any

  #Widget
  font_awesome_flutter: ^10.5.0

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner: 
  auto_route_generator: ^7.2.0

  flutter_lints: ^2.0.0
flutter:
  uses-material-design: true

  assets:
    - assets/lang/

  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700

